In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [22]:
raw_matches = './data/raw_matches.csv'
raw_winners = './data/raw_winners.csv'
results = './data/results.csv'
fifa_rankings = './data/fifa_rankings.csv'
world_cup_2018 = './data/world_cup_2018.csv'
schedule = './data/fifa-world-cup-2018_schedule.csv'

In [105]:
teams_2018 = [ i for i in set().union(sc['Home Team'], sc['Away Team']) if ('Winner' not in i and 'Runner' not in i and 'announced' not in i)]
teams_2018

['Egypt',
 'Senegal',
 'Russia',
 'Tunisia',
 'Colombia',
 'Denmark',
 'France',
 'Nigeria',
 'Switzerland',
 'Spain',
 'Poland',
 'Iceland',
 'Portugal',
 'Brazil',
 'Serbia',
 'Morocco',
 'Belgium',
 'Argentina',
 'Japan',
 'Panama',
 'Iran',
 'Uruguay',
 'Croatia',
 'Germany',
 'England',
 'Australia',
 'Sweden',
 'Peru',
 'Costa Rica',
 'Saudi Arabia',
 'Mexico',
 'Korea Republic']

In [5]:
rm = pd.read_csv(raw_matches)
rm.head()

   id  year       team1  score1  score2        team2
0   0  1950      Brazil       4       0       Mexico
1   1  1950  Yugoslavia       3       0  Switzerland
2   2  1950      Brazil       2       2  Switzerland
3   3  1950  Yugoslavia       4       1       Mexico
4   4  1950      Brazil       2       0   Yugoslavia

In [147]:
rw = pd.read_csv(raw_winners)
rw.head()
rw.groupby('team').nunique().sort_values('year')

                year  position  team
team
Hungary            1         1     1
Turkey             1         1     1
Soviet Union       1         1     1
South Korea        1         1     1
Czechoslovakia     1         1     1
Croatia            1         1     1
Yugoslavia         1         1     1
Bulgaria           1         1     1
Austria            1         1     1
Belgium            1         1     1
Chile              1         1     1
Spain              2         2     1
Poland             2         1     1
Portugal           2         2     1
England            2         2     1
Germany            3         2     1
Sweden             3         2     1
Argentina          3         2     1
Uruguay            4         2     1
Netherlands        4         2     1
France             5         4     1
Italy              6         4     1
West Germany       8         4     1
Brazil             9         4     1

In [112]:
rs = pd.read_csv(results)
rs.head()
rs['year'] = [int(d[0]) for d in rs['date'].str.split('-')]
rs['month'] = [int(d[1]) for d in rs['date'].str.split('-')]
rs['day'] = [int(d[2]) for d in rs['date'].str.split('-')]
rs = rs.drop('date', axis=1)
rs = rs.drop(rs[rs.year < 1950].index)
rs = rs[rs.home_team.isin(teams_2018) & rs.away_team.isin(teams_2018)]
rs

,home_team,away_team,home_score,away_score,tournament,city,country,year,month,day
3014,Croatia,Serbia,4,1,Friendly,Zagreb,Yugoslavia,1950,2,26
3026,Spain,Portugal,5,1,FIFA World Cup qualification,Madrid,Spain,1950,4,2
3029,Portugal,Spain,2,2,FIFA World Cup qualification,Oeiras,Portugal,1950,4,9
3038,Brazil,Uruguay,3,4,Copa Rio Branco,São Paulo,Brazil,1950,5,6
3043,Brazil,Uruguay,3,2,Copa Rio Branco,Rio de Janeiro,Brazil,1950,5,14
3045,Portugal,England,3,5,Friendly,Oeiras,Portugal,1950,5,14
3046,Belgium,England,1,4,Friendly,Brussels,Belgium,1950,5,18
3054,Belgium,France,4,1,Friendly,Brussels,Belgium,1950,6,4
3062,Brazil,Mexico,4,0,FIFA World Cup,Rio de Janeiro,Brazil,1950,6,24
3069,Brazil,Switzerland,2,2,FIFA World Cup,São Paulo,Brazil,1950,6,28
3078,England,Spain,0,1,FIFA World Cup,Rio de Janeiro,Brazil,1950,7,2
3080,Mexico,Switzerland,1,2,FIFA World Cup,Porto Alegre,Brazil,1950,7,2
3082,Brazil,Sweden,7,1,FIFA World Cup,Rio de Janeiro,Brazil,1950,7,9
3083,Spain,Uruguay,2,2,FIFA World Cup,São Paulo,Brazil,1950,7,9
3086,Brazil,Spain,6,1,FIFA World Cup,Rio de Janeiro,Brazil,1950,7,13
3087,Sweden,Uruguay,2,3,FIFA World Cup,São Paulo,Brazil,1950,7,13
3088,Brazil,Uruguay,1,2,FIFA World Cup,Rio de Janeiro,Brazil,1950,7,16
3089,Spain,Sweden,1,3,FIFA World Cup,São Paulo,Brazil,1950,7,16
3114,Sweden,Denmark,4,0,Nordic Championship,Solna,Sweden,1950,10,15
3123,France,Belgium,3,3,Friendly,Colombes,France,1950,11,1
3129,Switzerland,Sweden,4,2,Friendly,Geneva,Switzerland,1950,11,12
3133,Germany,Switzerland,1,0,Friendly,Stuttgart,Germany,1950,11,22
3145,Spain,Switzerland,6,3,Friendly,Madrid,Spain,1951,2,18
3148,Panama,Costa Rica,2,0,CCCF Championship,Panama City,Panama,1951,2,27
3150,Costa Rica,Panama,1,1,CCCF Championship,Panama City,Panama,1951,3,2
3160,Switzerland,Germany,2,3,Friendly,Zürich,Switzerland,1951,4,15
3162,England,Argentina,2,1,Friendly,London,England,1951,5,9
3170,England,Portugal,5,2,Friendly,Liverpool,England,1951,5,19
3181,Belgium,Spain,3,3,Friendly,Brussels,Belgium,1951,6,10
3185,Portugal,Belgium,1,1,Friendly,Oeiras,Portugal,1951,6,17
...,...,...,...,...,...,...,...,...,...,...
38647,Poland,Mexico,0,1,Friendly,Gdańsk,Poland,2017,11,13
38662,Argentina,Nigeria,2,4,Friendly,Krasnodar,Russia,2017,11,14
38666,Korea Republic,Serbia,1,1,Friendly,Ulsan,Korea Republic,2017,11,14
38674,Russia,Spain,3,3,Friendly,St Petersburg,Russia,2017,11,14
38675,England,Brazil,0,0,Friendly,London,England,2017,11,14
38677,Belgium,Japan,1,0,Friendly,Bruges,Belgium,2017,11,14
38678,Germany,France,2,2,Friendly,Cologne,Germany,2017,11,14
38732,Japan,Korea Republic,1,4,EAFF Championship,Chōfu,Japan,2017,12,16
38754,Denmark,Sweden,0,1,Friendly,Abu Dhabi,United Arab Emirates,2018,1,11
38776,Denmark,Panama,1,0,Friendly,Brøndby,Denmark,2018,3,22
38792,Germany,Spain,1,1,Friendly,Düsseldorf,Germany,2018,3,23
38793,Portugal,Egypt,2,1,Friendly,Zurich,Switzerland,2018,3,23
38798,Serbia,Morocco,1,2,Friendly,Turin,Italy,2018,3,23
38799,Russia,Brazil,0,3,Friendly,Moscow,Russia,2018,3,23
38800,France,Colombia,2,3,Friendly,Saint-Denis,France,2018,3,23
38801,Mexico,Iceland,3,0,Friendly,Santa Clara,USA,2018,3,23
38807,Peru,Croatia,2,0,Friendly,Miami Gardens,USA,2018,3,23
38808,Tunisia,Iran,1,0,Friendly,Radès,Tunisia,2018,3,23
38810,Poland,Nigeria,0,1,Friendly,Wrocław,Poland,2018,3,23
38864,Spain,Argentina,6,1,Friendly,Madrid,Spain,2018,3,27
38865,Germany,Brazil,0,1,Friendly,Berlin,Germany,2018,3,27
38868,Serbia,Nigeria,2,0,Friendly,London,England,2018,3,27
38870,Russia,France,1,3,Friendly,St Petersburg,Russia,2018,3,27
38871,Australia,Colombia,0,0,Friendly,London,England,2018,3,27
38874,Switzerland,Panama,6,0,Friendly,Lucerne,Switzerland,2018,3,27
38875,Mexico,Croatia,0,1,Friendly,Arlington,USA,2018,3,27
38878,Belgium,Saudi Arabia,4,0,Friendly,Brussels,Belgium,2018,3,27
38883,Peru,Iceland,3,1,Friendly,Harrison,USA,2018,3,27
38885,Tunisia,Costa Rica,1,0,Friendly,Nice,France,2018,3,27
38887,Poland,Korea Republic,3,2,Friendly,Chorzów,Poland,2018,3,27

In [26]:
sc = pd.read_csv(schedule)
sc.head()

,Round Number,Date,Location,Home Team,Away Team,Group,Result
0,1,14/06/2018 18:00,"Luzhniki Stadium, Moscow",Russia,Saudi Arabia,Group A,NaN
1,1,15/06/2018 15:00,Ekaterinburg Stadium,Egypt,Uruguay,Group A,NaN
2,1,15/06/2018 18:00,Saint Petersburg Stadium,Morocco,Iran,Group B,NaN
3,1,15/06/2018 21:00,"Fisht Stadium, Sochi",Portugal,Spain,Group B,NaN
4,1,16/06/2018 13:00,Kazan Arena,France,Australia,Group C,NaN

In [138]:
match = ['Portugal', 'Spain']
rm.loc[rm.team1.isin(match) | rm.team2.isin(match)]
rs.loc[rs.home_team.isin(match) & rs.away_team.isin(match)]

,home_team,away_team,home_score,away_score,tournament,city,country,year,month,day
3026,Spain,Portugal,5,1,FIFA World Cup qualification,Madrid,Spain,1950,4,2
3029,Portugal,Spain,2,2,FIFA World Cup qualification,Oeiras,Portugal,1950,4,9
3900,Portugal,Spain,3,1,Friendly,Oeiras,Portugal,1956,6,3
4254,Spain,Portugal,1,0,Friendly,Madrid,Spain,1958,4,13
5658,Portugal,Spain,2,1,Friendly,Porto,Portugal,1964,11,15
10910,Spain,Portugal,1,1,Friendly,Vigo,Spain,1979,9,26
11724,Portugal,Spain,2,0,Friendly,Porto,Portugal,1981,6,20
12989,Portugal,Spain,1,1,UEFA Euro,Marseilles,France,1984,6,17
16222,Spain,Portugal,1,1,Friendly,Castellón de la Plana,Spain,1991,1,16
16681,Portugal,Spain,0,0,Friendly,Torres Novas,Portugal,1992,1,15
17978,Spain,Portugal,2,2,Friendly,Vigo,Spain,1994,1,19
24361,Spain,Portugal,1,1,Friendly,Barcelona,Spain,2002,2,13
25560,Portugal,Spain,0,3,Friendly,Guimarães,Portugal,2003,9,6
26382,Spain,Portugal,0,1,UEFA Euro,Lisbon,Portugal,2004,6,20
31728,Spain,Portugal,1,0,FIFA World Cup,Cape Town,South Africa,2010,6,29
32148,Portugal,Spain,4,0,Friendly,Lisbon,Portugal,2010,11,17
33725,Portugal,Spain,0,0,UEFA Euro,Donets'k,Ukraine,2012,6,27

In [135]:
predict = sc.drop(['Round Number', 'Location', 'Date', 'Group', 'Result'], axis=1)
predict = predict.rename(columns={'Home Team': 'home_team', 'Away Team': 'away_team'})
#predict['home_score_pred'] = rs.loc[rs.home_team.isin(match) & rs.away_team.isin(match), 'home_score'].mean()
#predict['away_score_pred'] = rs.loc[rs.home_team.isin(match) & rs.away_team.isin(match), 'away_score'].mean()

for i in range(len(predict)):
    match = predict.iloc[i].values
    predict.loc[i, 'home_score_pred'] = rs.loc[rs.home_team.isin(match) & rs.away_team.isin(match), 'home_score'].mean()
    predict.loc[i, 'away_score_pred'] = rs.loc[rs.home_team.isin(match) & rs.away_team.isin(match), 'away_score'].mean()
    
predict

          home_team            away_team  home_score_pred  away_score_pred
0            Russia         Saudi Arabia         4.000000         2.000000
1             Egypt              Uruguay         0.000000         2.000000
2           Morocco                 Iran         1.000000         1.000000
3          Portugal                Spain         1.529412         0.882353
4            France            Australia         2.000000         0.500000
5         Argentina              Iceland              NaN              NaN
6              Peru              Denmark              NaN              NaN
7           Croatia              Nigeria              NaN              NaN
8        Costa Rica               Serbia              NaN              NaN
9           Germany               Mexico         2.363636         0.727273
10           Brazil          Switzerland         1.250000         1.000000
11           Sweden       Korea Republic         1.000000         1.666667
12          Belgium               Panama              NaN              NaN
13          Tunisia              England         1.500000         0.500000
14         Colombia                Japan         0.333333         1.666667
15           Poland              Senegal              NaN              NaN
16           Russia                Egypt              NaN              NaN
17         Portugal              Morocco         1.000000         3.000000
18          Uruguay         Saudi Arabia         2.000000         1.500000
19             Iran                Spain              NaN              NaN
20          Denmark            Australia         1.333333         1.000000
21           France                 Peru         0.000000         1.000000
22        Argentina              Croatia         1.250000         1.000000
23           Brazil           Costa Rica         2.600000         1.500000
24          Nigeria              Iceland         3.000000         0.000000
25           Serbia          Switzerland         1.000000         1.250000
26          Belgium              Tunisia         1.333333         0.666667
27   Korea Republic               Mexico         1.818182         1.000000
28          Germany               Sweden         1.952381         1.380952
29          England               Panama              NaN              NaN
..              ...                  ...              ...              ...
34             Iran             Portugal         1.000000         1.500000
35            Spain              Morocco         1.500000         1.500000
36          Denmark               France         1.769231         0.538462
37        Australia                 Peru              NaN              NaN
38          Nigeria            Argentina         1.875000         1.250000
39          Iceland              Croatia         1.666667         0.500000
40           Mexico               Sweden         1.000000         0.444444
41   Korea Republic              Germany         2.333333         1.000000
42           Serbia               Brazil         1.250000         0.250000
43      Switzerland           Costa Rica         1.000000         0.500000
44            Japan               Poland         1.333333         2.500000
45          Senegal             Colombia         2.000000         1.000000
46           Panama              Tunisia              NaN              NaN
47          England              Belgium         1.800000         1.500000
48   Winner Group C    Runner-up Group D              NaN              NaN
49   Winner Group A  Runner-up Group B\t              NaN              NaN
50   Winner Group B  Runner-up Group A\t              NaN              NaN
51   Winner Group D    Runner-up Group C              NaN              NaN
52   Winner Group E    Runner-up Group F              NaN              NaN
53   Winner Group G    Runner-up Group H              NaN              NaN
54   Winner Group F    Runner-up Group E              NaN              NaN
55   Winner Group H    Runner-up Group G              NaN              NaN
56  To be announced      To be announced              NaN              NaN
57  To be announced      To be announced              NaN              NaN
58  To be announced      To be announced              NaN              NaN
59  To be announced      To be announced              NaN              NaN
60  To be announced      To be announced              NaN              NaN
61  To be announced      To be announced              NaN              NaN
62  To be announced      To be announced              NaN              NaN
63  To be announced      To be announced              NaN              NaN

[64 rows x 4 columns]